{% extends 'tt_good/bash.html' %}
{% block scrapy %}
    <script>
    $(function () {
        $('.add_cart').click(function () {
            var gid = $('#gid').val()
            var count = $('.num_show').val()
        $.get('/cart/add/', {'gid': gid,'count':count}, function (data) {
            if(data.ok==1){

              var $add_x = $('#add_cart').offset().top;
              var $add_y = $('#add_cart').offset().left;

              var $to_x = $('#show_count').offset().top;
              var $to_y = $('#show_count').offset().left;

               $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})

               $(".add_jump").stop().animate({'left': $to_y+7, 'top': $to_x+7}, "fast", function() {
                $(".add_jump").fadeOut('fast');
           })
            }else{
                Location.href('/user/login/')
            }
        })
        })
    });

    </script>



{% endblock scrapy %}

  {% block body1 %}
	<div class="breadcrumb">
		<a href="/">全部分类</a>
		<span>></span>
		<a href="/list{{ type.gtype.id }}_1/">{{ type.gtype.ttitle }}</a>
		<span>></span>
		<a href="#">商品详情<input type="hidden" id="gid" value="{{ type.id }}"> </a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{ type.gpic }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ type.gtitle }}</h3>
			<p>{{ type.gjianjie}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ type.gprice }}</em></span>
				<span class="show_unit">{{ type.gkucun }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>16.80元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>
    {% endblock %}



        {% block body2 %}
            <div class="main_wrap clearfix">
		    <div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
                <form action="/{{ type.id }}/">
                    {% csrf_token %}
                    <input type="text">
                    <input type="submit" value="评论" name="ping">
                </form>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ type.gcontent|safe }} </dd>
				</dl>
			</div>

		</div>
	</div>
     <div class="add_jump"></div>

{% endblock %}
